html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
  font-family: Roboto,Helvetica,Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, p{
  margin: 0;
  padding: 0;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}




a {

  text-decoration: none;

}


a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}



img {
  border: 0;
}


/* normalize/rest 结束*/

.clearfix:after {
  display: block;
  content: "";
  line-height: 0;
  visibility: hidden;
  clear: both;
}

.main {
  width: 980px;
  height: 1386px;
  padding: 0 44px 20px 44px;
  margin: 0 auto;
}

.main > header {
  border-bottom: 2px solid #938e8c;
  margin-bottom: 0;
  position: relative;
  margin-bottom: 30px;
}

.main > header p {
  margin: 0;
}
.main .head-ife {
  display: block;
  width: 110px;
  height: 61px;
  background-color: red;
  color: #ffffff;
  font-size: 12px;
  font-family: 黑体;
  line-height: 110px;
  vertical-align: bottom;
}

.main .head-time {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  color: #d45d5c;
  font-family: 黑体;
}

.page-top img {
  float: left;
  display: block;
}

.page-top {
  position: relative;
}

#img2 {
  position: absolute;
  top: 0;
  left: 0;
}

#img3 {
  position: absolute;
  top: 0;
  left: 450px;
}

.page-top-describ {
  border-top: 2px solid #cc8091;
  margin-left: 689px;
}

.page-top-describ > p:nth-child(1),.page-top-describ > p:nth-child(2) {
  font: 24px 微软雅黑;
  color: #000000;
}

.page-top-describ > p:nth-child(1) {
  text-decoration: underline;
}

.page-top-describ > p:nth-child(3) {
  font: 12px/22px 楷体;
  color: #676767;
}

.page-top-describ > p:nth-child(4) {
  font: italic 116px 微软雅黑;
  text-decoration: underline;
  color: #75b86b;
  margin: 10px;
}

.page-top-describ > div {
  font: 55px 微软雅黑;
  color: #cc8091;
  display: block;
}

.inline-p {
  display: inline-block;
  height: 50px;
}

.page-top-describ .css {
  font: 21px 微软雅黑;
}

.page-top-describ .csss {
  font: 12px 微软雅黑;
}

.page-mid {
  display: flex;
}

.page-mid article{
  width: 200px;
}

.page-mid article + article {
  margin-left: 15px;
}

.page-mid article:nth-child(1) h3 {
  font: bold 16px 微软雅黑;
  color: #418c59;
  text-decoration: underline;
}
.page-mid article p {
  font: 12px/16px 宋体;
  color: #767777;
}

.page-mid article:nth-child(2) h3 {
  font-weight: bold;
  text-decoration: underline;
  color: #d2994f;
  font-size: 16px;
}

.page-mid article:nth-child(3) h3 {
  font-size: 16px;
  font-weight: bold;
  color: #cc7680;
  text-decoration: underline;
}

.page-mid article:nth-child(3) .what{
  font: 12px 微软雅黑;
  color: #231816;
  line-height: 16px;
  opacity: 0.7;
}

.page-mid article:nth-child(3) .what span {
  font:italic 12px 微软雅黑;
  color: #cd4a48;
}

.page-mid article:nth-child(3) {
  position: relative;
}
.page-mid .float-bottom {
  position: absolute;
  bottom: 0;
}

.page-bottom .bottom-sub {
  width: 415px;
  float: left;
}

.page-bottom .bottom-sub img {
  float: right;
}

.page-bottom .bottom-sub header {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.bottom-sub h1 {
  font: bold 42px  黑体;
  line-height: 58px;
  color: #11456b;
  word-break: break-all;
  margin: 0;
}

.bottom-sub h1 span{
  font: italic bold 72px 黑体;
  color: #f5e327;
  margin: 0;
}

.bottom-sub small {
  font: bold 33px 黑体;
  font-weight: bold;
  color: #11456b;
}

.bottom-sub article p {
  text-indent: 2em;
  font: 12px 宋体;
  color: #767777;
  line-height: 16px;
  word-break: break-all;
}

.bottom-sub article .clearfix {
  text-indent: 0;
}
.bottom-sub article span{
  display: block;
  float: left;
  font: 70px 微软雅黑;
  color: #f5e327;
}

.page-bottom .bottom-main {
  margin-left: 434px;
}

.bottom-main header {
  position: relative;
  margin-bottom: 20px;
  height: 257px;
  background-image: url(img/right-mid.png);
}


.bottom-main header div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:50px;
  background-color: black;
  opacity: 0.3;
  padding-left: 40px;
  vertical-align: middle;
}
.bottom-main .shu {
  position: absolute;
  left: 40px;
  top: 3px;
  width: 3px;
  height: 44px;
  background-color: #72b16a;
  padding: 0;
  margin: 0;
  opacity: 1;
}
.bottom-main header p {
  color: #ffffff;
  font: 26px 微软雅黑;
  line-height: 50px;
  opacity: 1;
  vertical-align: middle;
  display: block;
  margin-left: 10px;
}

.bottom-main header p span {
  font: 26px 微软雅黑;
  font: italic 12px/140% 微软雅黑;
  color: #72b16a;
  opacity: 1;
}

.bottom-main article {
  background-color: yellow;
  position: relative;
}

.bottom-main-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 260px;
  height: 160px;
  background-color: blue;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  display: flex;
}

.bottom-main article p {
  font:16px/20px 宋体;
  color: #5a5b5b;
  display: block;
  margin-left: 30px;
}

.bottom-main article p span {
  font:italic 12px 宋体;
}

.bottom-main-left strong {
  display: block;
  position: absolute;
  top: 25px;
  left: 15px;
  align-items: ;
  font-family: 微软雅黑;
  font-size: 110px;
}

.bottom-main-left .show {
  position: absolute;
  width: 2px;
  height: 86px;
  top: 32px;
  left: 80px;
  background-color: #ffffff;
}

.bottom-main-right {
  margin-left: 270px;
  height:
}

.bottom-main-left section {
  position: absolute;
  top: 32px;
  left: 90px;
}

.bottom-main-left section p {
  margin: 0;
  text-align: left;
}

.bottom-main-left section p:nth-child(1),.bottom-main-left section p:nth-child(2) {
  font:italic 21px/24px 黑体;
  color: #ffffff;
}

.bottom-main-left section p:nth-child(3),.bottom-main-left section p:nth-child(4) {
  font: 12px/18px 黑体;
  color: #ffffff;
}
#bottom-p{
  font: italic 14px/30px 黑体;
  color: #5a5b5b;
  margin: 0;
}
#bottom-p span {
  font: 72px  黑体;
  color: #d45d5c;
  vertical-align: top;
  line-height: 30px;
}

#bottom-p #bottom-char {
    vertical-align: -40px;
}
.page-bottom {
  border-bottom: 1px solid #938e8c;
}

.main > footer {
  float: right;
}

#bottom-bottom {
  margin-top: 30px;
}
footer {
  font: 12px 黑体;
  color: #d45d5c;
}
