html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
  font-family: Roboto,Helvetica,Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, p{
  margin: 0;
  padding: 0;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}




a {

  text-decoration: none;

}


a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}



img {
  border: 0;
}


/* normalize/rest 结束*/

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.main {
  width: 980px;
  height: 1386px;
  padding: 0 44px 20px 44px;
  margin: 0 auto;
}

.main > header {
  border-bottom: 2px solid #938e8c;
  margin-bottom: 0;
  position: relative;
  margin-bottom: 30px;
}

.main > header p {
  margin: 0;
}
.main .head-ife {
  display: block;
  width: 110px;
  height: 61px;
  background-color: red;
  color: #ffffff;
  font-size: 12px;
  font-family: 黑体;
  line-height: 110px;
  vertical-align: bottom;
}

.main .head-time {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  color: #d45d5c;
  font-family: 黑体;
}

.page-top .banner {
    width: 641px;
    height: 301px;
  float: left;
  background-image: url(./img/left-top.png);
  background-origin: border-box;
  border-left: 200px solid rgba(75, 184, 107, 0.5);
  border-right: 200px solid rgba(204, 80, 91, 0.5) 
  
}

.page-top {
  position: relative;
}

.page-top-describ {
  border-top: 2px solid #cc8091;
  margin-left: 689px;
}

.page-top-describ h1 {
    text-transform: uppercase;
    text-decoration: underline;
    margin: 10px 0 0 0;
}

.page-top-describ h1 span{
    display: block;
    font-size: 20px;
    font-weight: normal;
}

.page-top-describ h1 span::first-letter {
    font-size: 1.3em;
    font-weight: bolder;
    vertical-align: 1px;
}


.page-top-describ > p:first-of-type {
  font-size: 12px;
  font-style: italic;
  color: #676767;
}

.page-top-describ > p:last-of-type {
    font-size: 12px;
    float: right
    color: #676767;
}
.page-top-describ > strong {
  display: block;
  font: italic 116px 微软雅黑;
  color: #75b86b;
}

.page-top-describ p strong {
    float: left;
  font: 55px 微软雅黑;
  color: #cc8091;
  margin-right: 10px;
}

.page-top-describ p span {
  color: #cc8091;
  font-size: 1.2em;
  font-family: 微软雅黑;
  display: block;
  padding-top: 30px;
}

.page-mid article {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    
    -webkit-column-width: 180px;
    -moz-column-width: 180px;
    column-width: 180px;
    
    -webkit-column-fill:balance;
    -moz-column-fill: balance;
    column-fill: balance;
    
    height: 260px;
    width: 200px;
}

.page-mid h2 {
    margin: 0 0 20px 0;
    text-transform: capitalize;
    text-decoration: underline;
}


.page-mid h2:first-of-type  {
  color: #418c59;
}

.page-mid h2:nth-of-type(2) {
  color: #d2994f;
}

.page-mid h2:last-of-type {
  color: #cc7680;
}

.page-mid  p {
  font: 12px/16px 宋体;
  color: #767777;
}

.page-mid .list {
    list-style: none;
    padding-left: 10px;
    margin-top: 80px;
}

.page-mid .list span {
    color: #cc7680;
    font-style: italic;
    margin-left: 0.5em;
    
}

.page-bottom .bottom-sub {
  width: 415px;
  float: left;
}

.bottom-sub p:first-of-type::first-letter {
    color: #f5e327;
    float: left;
    font: 70px 微软雅黑;
    margin: 10px;
    
}
.bottom-sub img {
  float: right;
  margin: 10px 0 10px 10px;
}

.bottom-sub header {
    padding-bottom: 5px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.bottom-sub h1 {
  font: bold 42px  黑体;
  line-height: 1;
  color: #11456b;
  margin: 0;
}

.bottom-sub small {
  font: bold 33px 黑体;
  font-weight: bold;
  color: #11456b;
}

.bottom-sub p {
  text-indent: 2em;
  font: 12px 宋体;
  color: #767777;
  line-height: 16px;
}

.page-bottom .bottom-main {
  margin-left: 434px;
}

.bottom-main header {
  position: relative;
  margin-bottom: 20px;
  height: 257px;
  background-image: url(img/right-mid.png);
}


.bottom-main header div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:50px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 0 5px 40px;
}

.bottom-main header h1 {
    display: inline-block;
  color: #ffffff;
  font: 26px 微软雅黑;
  margin: 0;
  border-left: 2px solid #72b16a;
  padding-left: 1em;
}

.bottom-main header small {
  font: 26px 微软雅黑;
  font: italic 12px/140% 微软雅黑;
  color: #72b16a;
}

.bottom-main article {
    background-color: #EEEED6;
}

.bottom-main ul {
    list-style-type: "▲";
    text-indent: 5px;
    padding-top: 20px;
}

.bottom-main ul li {
    margin-bottom: 20px;
}

.bottom-main ul span {
    font-size: 0.8em;
    font-style: italic;
}

.bottom-bottom {
    padding-top: 50px;
}

.bottom-bottom .bottom-main-left {
    color: white;
    padding: 30px 10px;
    background-color: #D55D5C;
    float: left;
    width: 60%;
}

.bottom-bottom .bottom-main-left strong {
    float: left;
    font-size: 100px;
    font-weight: normal;
    line-height: 1;
    border-right: 2px solid currentColor;
    padding-right: 3px;
    margin-right: 5px;
}

.bottom-main-left div p:nth-child(-n+2) {
    font-size: 20px;
    font-style: italic;
}

.bottom-bottom > p {
    font-style: italic;
    position: relative;
    padding: 20px;
    overflow: hidden;
    text-indent: 10px;
}

.bottom-bottom > p::first-line {
    padding-left: 10px;
}

.bottom-bottom > p::before,
.bottom-bottom > p::after {
    position: absolute;
    font-size: 50px;
    font-style: normal;
    color: #d45d5c;
    
}

.bottom-bottom > p::before {
    content: open-quote;
    top: 0;
    left: 10px;
  /*font-family: "宋体";？*/
    
}

.bottom-bottom > p::after {
    content: close-quote;
    bottom: 0;
    right: 10px;
}

footer {
    border-top: 1px solid black;
    text-align: right;
    margin-top: 20px;
  font: 12px 黑体;
  color: #d45d5c;
}
